body {
	background-color: #fff ;
	margin: 0;
	position: relative;
}

h1 {
	font-family: 'Lato' , Arial;
	font-size : 1.8em;
	text-align: center;
	font-style : Bold;
	color: #c0392b;
	background-color: #34495e;
	height: 52px;
	box-shadow: 0px 5px 0px #2c3e50;
	width: 100%;
	position: relative;
	top: -19px;
	padding-top: 18px;
}

h2 {
	font-family: 'Lato';
	font-size: 1.4em;
	text-align: center;
	margin: auto;
	margin-bottom: 20px;
	color: #34495e;
}

h3 {
	font-family: 'Lato';
	font-size: 1.25em;
	text-align: center;
	margin: auto;
	color: #27ae60;
	width: 800px;
	margin-bottom: 20px;
}

p{
	font-family: 'Lato';
	color: #27ae60;
	text-align: center;
	font-size: 1.2em;
}

#dev_id {
	font-size: 0.7em;
}

table {
	margin: auto;
	border-collapse: collapse;
	border-radius: 3px;
	width: 1050px;
}

th , td {

	border: 2px solid #34495e;
	border-radius: 3px;
	padding: 5px;
}

th {
	font-family: 'Lato';
	font-weight: 700;
	font-size: 1.3em;
	color: #34495e;
	background-color: #2980b9;
}

td {
	font-family : 'Lato';
	color: #9AD6EE;
	font-size: 1.3em;
	background-color: #3498db;
	text-align: center;
}

input[type='text']{
	border-radius: 5px;
	border-style: none;
	border: 2px solid #2980b9;
	font-size: 0.9em;
	color: #34495e;
	background-color: #ecf0f1;
	width: 200px;
}

td.translate {
	color: #9AD6EE;
}

.last-td {
	height: 45px;
}
.bot-button{
	padding: 6px;
	height: 40px;
	font-family: 'Lato';
	font-size: 1em;
	letter-spacing: 1px;
	color: white;
	border-radius: 3px;
	background-color: #2980b9;
	border : 2px solid #34495e;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
}

#green {
	color: #5DEB26;

}

#red {
	color: #E04B46;
}
